body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.project {
  text-align: center;
  padding: 50px 0;
}

.project .title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffbf35;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-scroll {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
}

.project-card {
  flex: 0 0 calc(33.3333% - 20px); /* Adjusted width calculation with margin */
  max-width: calc(33.3333% - 20px); /* Adjusted max-width calculation with margin */
  margin: 0 10px; /* Space between project cards */
  box-sizing: border-box;
  padding: 0; 
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #ffbf35;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h3 {
  font-size: 1.2em;
  margin: 10px;
  color: #333;
}

.project-card p {
  font-size: 1em;
  margin: 10px;
  color: #666;
}




.more-info {
  text-align: center;
  margin-top: 20px;
  color: #464545;
  font-size: 1.2em;
}

.more-info a {
  color: #464545;
  text-decoration: none;
  font-weight: bold;
}

.more-info a:hover {
  text-decoration: underline;
}
.scroll-button {
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}


@media (max-width: 1024px) {
  .project-card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
